@import "nib"
@import "jeet"
@import "rupture"

// nib reset
global-reset()

// Colours
color-red = #F05B50
color-red--light = #F47B72
color-red--dark = #CF4038
color-red--xdark = #8F2924

// Font stacks
font-heading = "ff-cocon-web-pro", "sans-serif"
font-body = "freight-sans-pro", "sans-serif"

// Basics
body
  color white
  background color-red
  font 1em/1.5 font-body
h1
  font-family font-heading
  text-shadow 0 2px 1px rgba(black, 0.2)
  text-align center
  text-transform uppercase
  font-size 2em
h2
  font-size 1.5em
  text-align center

// Components
.headerBar
  background color-red--light
  box-shadow 0 3px 5px rgba(black, 0.1)
  height 3em
  line-height 3em
.headerBar-backButton
  position absolute
  top 0
  left 0
.headerBar-backButton a
  display block
  padding 0.5em
.headerBar-backButton .bzIcon
  position relative

.bzIcon
  display inline-block
  width 2em
  fill white
  vertical-align middle

.taskTypeList
  font-size 3em
  margin-top 1em
.taskTypeList-item
  display block
  text-align center
.taskTypeList-item .bzIcon
  fill color-red--dark
.taskTypeList-item a
  color white
  text-decoration none

// Animation etc.
.page-enter
  transform translateX(100%)
  transition transform 300ms ease-out
.page-enter.page-enter-active
  transform translateX(0)
.page-leave
  transform translateX(0)
  transition transform 300ms ease-out
.page-leave.page-leave-active
  transform translateX(-100%)