// Colours
color-red = #F05B50
color-red--light = #F47B72
color-red--dark = #CF4038
color-red--xdark = #8F2924

// Font stacks
font-heading = "ff-cocon-web-pro", "sans-serif"
font-body = "freight-sans-pro", "sans-serif"

html
  color white
  background color-red
  font 1em/1.5 font-body

h1
h2
h3
  font-family font-heading